<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>

    

    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <script src="{{ url_for('static', filename='js/articles.js') }}"></script>
    
   
</head>
<body>
    
        <h1>Contenu Éducatif - Maladies Mentales</h1>
    
    
    <section class="panel">
        <header> Liste d'articles</header>
        <div>
            <div class="flex-panel">
                    <article class="card">
                        <img src="{{ url_for('static', filename='Images/1.png') }}" alt="HTML">
                        <header>LES TROUBLES BIPOLAIRES</header>
                        
                        <p>Tout ce que vous devez savoir sur le trouble bipolaire</p>
           
                        <p>Le trouble bipolaire est une maladie mentale
                           caractérisée par des changements extrêmes
                           d'humeur. Les symptômes peuvent inclure
                           un état d'esprit extrêmement élevé appelé manie.
                            
                        </p>
                        <p>En savoir plus : <a href="https://www.frcneurodon.org/les-troubles-bipolaires/" class="card-link">Lire la suite</a></p>
                    </article>
            </div>        
            <div class="flex-panel">
                    <article class="card">
                        <img src="{{ url_for('static', filename='Images/2.png') }}" alt="HTML">
                        <header>La dépression</header>
                        
                        <p>
                           La dépression est une maladie mentale qui
                           se caractérise par une grande tristesse,
                           un sentiment de désespoir et une perte d'intérêt
                           pour les activités quotidiennes. Elle peut être
                           traitée avec des thérapies
                           et des médicaments.

                        </p>
                        
                        <p>En savoir plus :  <a href="https://www.camh.ca/fr/info-sante/index-sur-la-sante-mentale-et-la-dependance/la-depression" class="card-link">Lire la suite</a></p>
                        
                    </article>
            </div>        
            <div class="flex-panel">
                <article class="card">
                    <img src="{{ url_for('static', filename='Images/3.png') }}" alt="HTML">
                    <header>L'anxiété</header>
                            
                    <p>
                        L'anxiété est une réaction normale face au
                        stress, mais elle peut devenir envahissante.
                        Les symptômes peuvent inclure des pensées excessives,
                        des palpitations, des sueurs et des troubles du sommeil.


                    </p>
                    <p>En savoir plus : <a href="https://www.quebec.ca/sante/sante-mentale/s-informer-sur-sante-mentale-et-troubles-mentaux/mieux-comprendre-troubles-mentaux/troubles-anxieux" class="card-link">Lire la suite</a></p>
                </article>
                
            
            </div>
            <div class="flex-panel">
                <article class="card">
                    <img src="{{ url_for('static', filename='Images/4.png') }}" alt="HTML">
                    <header>L’autisme chez les adultes</header>
                            
                    <p>
                        Les caractéristiques et symptômes de l’autisme chez les adultes
                        sont définis par des difficultés dans les interactions sociales,
                        la communication et des comportements répétitifs. Ces individus
                        peuvent présenter un intérêt restreint pour certains sujets et
                        une sensibilité sensorielle. De plus, ils peuvent rencontrer
                        des défis relatifs à la flexibilité cognitive et à l’autorégulation
                        émotionnelle.
                       
                    
                    </p>
                    <p>En savoir plus : <a href="https://www.la-clinique-e-sante.com/blog/autisme/adulte-signes" class="card-link">Lire la suite</a></p>
                </article>
                
          
            
            </div>
            <div class="flex-panel">
                <article class="card">
                    <img src="{{ url_for('static', filename='Images/5.png') }}" alt="HTML">
                    <header>Troubles obsessionnels compulsifs (TOC)</header>
                            
                    <p>
                        Les troubles obsessionnels compulsifs (TOC) se traduisent par
                        des obsessions (pensées dérangeantes, répétitives et incontrôlables)
                        causant une forte anxiété. Celle-ci est atténuée par la mise en place
                        de comportements répétitifs, irraisonnés et incontrôlables (les compulsions).
                        Les TOC sont fréquents et débutent souvent avant l’âge de 25 ans.
                    
                    
                    </p>
                    <p>En savoir plus : <a href="https://www.quebec.ca/sante/sante-mentale/s-informer-sur-sante-mentale-et-troubles-mentaux/mieux-comprendre-troubles-mentaux/trouble-obsessionnel-compulsif" class="card-link">Lire la suite</a></p>
                </article>

                
            
            </div>
            <div class="flex-panel">
                <article class="card">
                    <img src="{{ url_for('static', filename='Images/6.png') }}" alt="HTML">
                    <header>Anorexie mentale</header>
                          
                    <p>
                        L’anorexie mentale est un trouble du comportement alimentaire
                        essentiellement féminin qui apparait le plus souvent à l’adolescence.
                        Il entraîne une privation alimentaire stricte et volontaire pendant
                        plusieurs mois, voire plusieurs années. L’anorexie est très souvent
                        associée à des troubles psychologiques.
                    
                    
                    </p>
                    <p>En savoir plus : <a href="https://www.medecindirect.fr/maladies/anorexie-mentale-causes-symptomes-traitements" class="card-link">Lire la suite</a></p>
                </article>
                
                
            
            </div>
            <div class="flex-panel">
                <article class="card">
                    <img src="{{ url_for('static', filename='Images/7.png') }}" alt="HTML">
                    <header>Trouble du déficit de l'attention avec ou sans hyperactivité(TDAH) </header>
                            
                    <p>
                        Le trouble déficitaire de l’attention avec ou sans hyperactivité est l’un
                        des troubles les plus courants chez les jeunes. Il affecte le champ
                        d’attention et la concentration, et peut s’accompagner d’impulsivité
                        et d’hyperactivité.


                    </p>
                    <p>En savoir plus : <a href="https://www.camh.ca/fr/info-sante/index-sur-la-sante-mentale-et-la-dependance/trouble-deficitaire-de-l-attention-avec-ou-sans-hyperactivite" class="card-link">Lire la suite</a></p>
                </article>
            
               
            
            </div>
            <div class="flex-panel">
                <article class="card">
                    <img src="{{ url_for('static', filename='Images/8.png') }}" alt="HTML">
                    <header>Trouble dissociatif de l'identité(TDI) </header>
                            
                    <p>
                        Dans le trouble dissociatif de l'identité, autrefois appelé trouble
                        de personnalité multiple, deux ou plusieurs identités prennent tour
                        à tour le contrôle d'une même personne. Ces identités peuvent avoir
                        des schémas de langage, de tempérament et de comportement différents
                        de ceux normalement associés à la personne.

                   
                    </p>
                    <p>En savoir plus : <a href="https://www.psychologue.net/articles/trouble-dissociatif-de-lidentite-7-symptomes-qui-indiquent-que-vous-avez-plusieurs-personnalites" class="card-link">Lire la suite</a></p>
                </article>
                
                   
            
            </div>
            <div class="flex-panel">
                <article class="card">
                    <img src="{{ url_for('static', filename='Images/9.png') }}" alt="HTML">
                    <header>Schizophrénie </header>
                            
                    <p>
                        La schizophrénie est un trouble mental caractérisé par la perte
                        de contact avec la réalité (psychose), des hallucinations
                        (en général, le fait d’entendre des voix), de fausses croyances auxquelles
                        on se tient fermement (délires), des troubles de la pensée et du
                        comportement, des expressions émotionnelles diminuées, une diminution
                        de la motivation, un déclin de la fonction mentale (cognition), et un
                        fonctionnement anormal dans la vie quotidienne, qu’il s’agisse du travail, des
                        relations sociales ou des soins personnels.


                    </p>
                    <p>En savoir plus : <a href="https://www.livi.fr/sante/maladie-mentale/schizophrenie/" class="card-link">Lire la suite</a></p>
                </article>

                
            
            </div>
            <div class="flex-panel">
                <article class="card">
                    <img src="{{ url_for('static', filename='Images/10.png') }}" alt="HTML">
                    <header>Trouble panique </header>
                            
                    <p>
                        Les troubles paniques se définissent par l’association de deux
                        phénomènes : l’attaque de panique ou la crise d’angoisse, et la
                        crainte par anticipation d’une nouvelle crise. L’attaque de panique
                        est un moment de terreur intense. Elle survient de façon brutale
                        et inattendue, parfois sans cause apparente. Elle peut aussi être
                        liée à plusieurs facteurs déclencheurs.


                    </p>
                    <p>En savoir plus : <a href="https://www.anxietycanada.com/fr/troubles/panic-disorder/" class="card-link">Lire la suite</a></p>
                </article>
                
                
            
            </div>
            

        </div>    
    </section>

</body>
</html>



