<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Éducation - Plateforme de Santé Mentale</title>
    
    

    <link rel="stylesheet" href="{{ url_for('static', filename='css/stat.css') }}">
    <script src="{{ url_for('static', filename='js/ev.js') }}"></script>
    
    
    
</head>
<body>
    <header>
        <h1>Stratégies pour améliorer Votre Santé Mentale</h1>
    </header>
    
    <section id="content">
        <section id="faq" class="faq section-bg">
            <div class="container">
      
              <div class="section-title">
                <h2>Améliorez votre santé mentale</h2>
                <p>Découvrez quelques moyens d'améliorer votre santé mentale et de cultiver une vie saine !</p>
              </div>
      
              <ul class="faq-list">
                <li>
                  <div class="question">Échangez avec les Autres</div>
                  <div class="answer">
                    <p>
                        Il est essentiel d'être entouré de personnes et de converser avec elles, simplement d'être présent. La vie est faite de bons et de mauvais moments, et il est important de communiquer vos sentiments et de partager ces expériences avec les autres. Cela peut alléger le fardeau ou empêcher les pensées négatives de s'enraciner. proches peuveien social précieux et partager leur point de vue sur vos expériences.
                    </p>
                  </div>
                </li>
      
                <li>
                  <div class="question">Mindfulness</div>
                  <div class="answer">
                    <p>
                        Méditation, yoga, music, écriture expressive, 4-7-8 technique de respiration.
                    </p>
                  </div>
                </li>

                <li>
                  <div class="question">Faire des activités qui nous font du bien</div>
                  <div class="answer">
                    <p>
                        Passer du temps dans la nature, peindre, cuisiner une nouvelle recette,regarder un film, lire.
                    </p>
                  </div>
                </li>
                
                <li>
                  <div class="question">Rester actif</div>
                  <div class="answer">
                    <p>
                        Les activités qui accélèrent le rythme cardiaque peuvent réduire la fatigue et le stress.Elles améliorent également l’humeur générale et l’estime de soi.
                        Idéalement, bougez à l’extérieur,même s’il s’agit d’une courte marche.
                    </p>
                  </div>
                </li>

                <li>
                  <div class="question">Créez un bocal à pensées positives</div>
                  <div class="answer">
                    <p>
                        Vous pouvez remplir votre bocal de notes contenant des choses qui ont amélioré votre santé mentale.
                        Cela peut inclure des phrases positives, des moments de gratitude, des réalisations personnelles.
                        
                    </p>
                  </div>
                </li>

                
      
              </ul>
      
            </div>
        </section>
        
        

        
        
    </section>

    

</body>
</html>
